<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <!--<context-param> 
  <param-name>log4jConfigLocation</param-name> 
  <param-value>/WEB-INF/classes/log4j.properties</param-value> 
   </context-param> -->
<context-param>
 	<param-name>log4jpath</param-name>
 	<param-value>WEB-INF\log4j.properties</param-value>
 </context-param>
 <listener> 
  <listener-class>com.bev.BevInit</listener-class> 
 </listener>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BevMain</servlet-name>
    <servlet-class>com.bev.BevMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BevMain</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
  	<welcome-file>demo.html</welcome-file>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
</web-app>
